body{
    background-color: aquamarine;
}
h1{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h2{
    color: tomato;
    font-family: 'Courier New', Courier, monospace;
}
p{
    background-color: rgb(79, 212, 212);
    font-family:Arial, Helvetica, sans-serif;
}